<div style="float:left;">
  <div class="app-body">
    <station></station>
  </div>
  <div style="height:40px;"></div>
  <div class="credit">
    Powered by <a href="https://ekiworld.net/service/sier/webservice/free_provision.html">駅すぱあとWebサービス</a> <br/>
    Powered by <a href="http://openweathermap.org/api">OpenWeatherMap API</a> <br/>
    Powered by <a href="https://developers.google.com/maps/documentation/javascript/?hl=ja">Google Maps API</a> <br/>
    Powered by <a href="http://webservice.recruit.co.jp/">ホットペッパー Webサービス</a> <br/>
  </div>
</div>
